    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-agenda:before { content: "\f100"; }
.flaticon-american-football:before { content: "\f101"; }
.flaticon-apple:before { content: "\f102"; }
.flaticon-atom:before { content: "\f103"; }
.flaticon-backpack:before { content: "\f104"; }
.flaticon-basketball:before { content: "\f105"; }
.flaticon-bell:before { content: "\f106"; }
.flaticon-biology:before { content: "\f107"; }
.flaticon-blackboard:before { content: "\f108"; }
.flaticon-blackboard-eraser:before { content: "\f109"; }
.flaticon-book:before { content: "\f10a"; }
.flaticon-briefcase:before { content: "\f10b"; }
.flaticon-calculator:before { content: "\f10c"; }
.flaticon-calendar:before { content: "\f10d"; }
.flaticon-carpentry:before { content: "\f10e"; }
.flaticon-chalk:before { content: "\f10f"; }
.flaticon-chemistry:before { content: "\f110"; }
.flaticon-chess:before { content: "\f111"; }
.flaticon-clock:before { content: "\f112"; }
.flaticon-clock-1:before { content: "\f113"; }
.flaticon-coffee:before { content: "\f114"; }
.flaticon-column:before { content: "\f115"; }
.flaticon-compass:before { content: "\f116"; }
.flaticon-computer:before { content: "\f117"; }
.flaticon-crayons:before { content: "\f118"; }
.flaticon-desk-chair:before { content: "\f119"; }
.flaticon-desk-lamp:before { content: "\f11a"; }
.flaticon-diploma:before { content: "\f11b"; }
.flaticon-diploma-1:before { content: "\f11c"; }
.flaticon-earth-globe:before { content: "\f11d"; }
.flaticon-ebook:before { content: "\f11e"; }
.flaticon-eraser:before { content: "\f11f"; }
.flaticon-file:before { content: "\f120"; }
.flaticon-flag:before { content: "\f121"; }
.flaticon-folder:before { content: "\f122"; }
.flaticon-football:before { content: "\f123"; }
.flaticon-glasses:before { content: "\f124"; }
.flaticon-glue-stick:before { content: "\f125"; }
.flaticon-grades:before { content: "\f126"; }
.flaticon-graduate:before { content: "\f127"; }
.flaticon-graduate-1:before { content: "\f128"; }
.flaticon-graduate-2:before { content: "\f129"; }
.flaticon-hands:before { content: "\f12a"; }
.flaticon-headphones:before { content: "\f12b"; }
.flaticon-high-school:before { content: "\f12c"; }
.flaticon-high-school-1:before { content: "\f12d"; }
.flaticon-history:before { content: "\f12e"; }
.flaticon-homework:before { content: "\f12f"; }
.flaticon-jacket:before { content: "\f130"; }
.flaticon-language:before { content: "\f131"; }
.flaticon-learning:before { content: "\f132"; }
.flaticon-learning-1:before { content: "\f133"; }
.flaticon-literature:before { content: "\f134"; }
.flaticon-lockers:before { content: "\f135"; }
.flaticon-loudspeaker:before { content: "\f136"; }
.flaticon-marker:before { content: "\f137"; }
.flaticon-milk:before { content: "\f138"; }
.flaticon-mortarboard:before { content: "\f139"; }
.flaticon-newspaper:before { content: "\f13a"; }
.flaticon-notebook:before { content: "\f13b"; }
.flaticon-notebook-1:before { content: "\f13c"; }
.flaticon-orientation:before { content: "\f13d"; }
.flaticon-owl:before { content: "\f13e"; }
.flaticon-padlock:before { content: "\f13f"; }
.flaticon-paper-plane:before { content: "\f140"; }
.flaticon-pen:before { content: "\f141"; }
.flaticon-pen-1:before { content: "\f142"; }
.flaticon-pencil:before { content: "\f143"; }
.flaticon-pencil-1:before { content: "\f144"; }
.flaticon-pencil-2:before { content: "\f145"; }
.flaticon-pencil-3:before { content: "\f146"; }
.flaticon-pencil-case:before { content: "\f147"; }
.flaticon-pencils:before { content: "\f148"; }
.flaticon-physics:before { content: "\f149"; }
.flaticon-pom-pom:before { content: "\f14a"; }
.flaticon-protractor:before { content: "\f14b"; }
.flaticon-scarf:before { content: "\f14c"; }
.flaticon-scarf-1:before { content: "\f14d"; }
.flaticon-scarfs:before { content: "\f14e"; }
.flaticon-schedule:before { content: "\f14f"; }
.flaticon-school-bus:before { content: "\f150"; }
.flaticon-science:before { content: "\f151"; }
.flaticon-scissors:before { content: "\f152"; }
.flaticon-screen:before { content: "\f153"; }
.flaticon-set-square:before { content: "\f154"; }
.flaticon-sharpener:before { content: "\f155"; }
.flaticon-sheet-music:before { content: "\f156"; }
.flaticon-stapler:before { content: "\f157"; }
.flaticon-studies:before { content: "\f158"; }
.flaticon-swimming-pool:before { content: "\f159"; }
.flaticon-teacher-desk:before { content: "\f15a"; }
.flaticon-test:before { content: "\f15b"; }
.flaticon-theater:before { content: "\f15c"; }
.flaticon-trophy:before { content: "\f15d"; }
.flaticon-uniform:before { content: "\f15e"; }
.flaticon-violin:before { content: "\f15f"; }
.flaticon-watercolor:before { content: "\f160"; }
.flaticon-writing:before { content: "\f161"; }
.flaticon-yearbook:before { content: "\f162"; }
.flaticon-yearbook-1:before { content: "\f163"; }
    
    $font-Flaticon-agenda: "\f100";
    $font-Flaticon-american-football: "\f101";
    $font-Flaticon-apple: "\f102";
    $font-Flaticon-atom: "\f103";
    $font-Flaticon-backpack: "\f104";
    $font-Flaticon-basketball: "\f105";
    $font-Flaticon-bell: "\f106";
    $font-Flaticon-biology: "\f107";
    $font-Flaticon-blackboard: "\f108";
    $font-Flaticon-blackboard-eraser: "\f109";
    $font-Flaticon-book: "\f10a";
    $font-Flaticon-briefcase: "\f10b";
    $font-Flaticon-calculator: "\f10c";
    $font-Flaticon-calendar: "\f10d";
    $font-Flaticon-carpentry: "\f10e";
    $font-Flaticon-chalk: "\f10f";
    $font-Flaticon-chemistry: "\f110";
    $font-Flaticon-chess: "\f111";
    $font-Flaticon-clock: "\f112";
    $font-Flaticon-clock-1: "\f113";
    $font-Flaticon-coffee: "\f114";
    $font-Flaticon-column: "\f115";
    $font-Flaticon-compass: "\f116";
    $font-Flaticon-computer: "\f117";
    $font-Flaticon-crayons: "\f118";
    $font-Flaticon-desk-chair: "\f119";
    $font-Flaticon-desk-lamp: "\f11a";
    $font-Flaticon-diploma: "\f11b";
    $font-Flaticon-diploma-1: "\f11c";
    $font-Flaticon-earth-globe: "\f11d";
    $font-Flaticon-ebook: "\f11e";
    $font-Flaticon-eraser: "\f11f";
    $font-Flaticon-file: "\f120";
    $font-Flaticon-flag: "\f121";
    $font-Flaticon-folder: "\f122";
    $font-Flaticon-football: "\f123";
    $font-Flaticon-glasses: "\f124";
    $font-Flaticon-glue-stick: "\f125";
    $font-Flaticon-grades: "\f126";
    $font-Flaticon-graduate: "\f127";
    $font-Flaticon-graduate-1: "\f128";
    $font-Flaticon-graduate-2: "\f129";
    $font-Flaticon-hands: "\f12a";
    $font-Flaticon-headphones: "\f12b";
    $font-Flaticon-high-school: "\f12c";
    $font-Flaticon-high-school-1: "\f12d";
    $font-Flaticon-history: "\f12e";
    $font-Flaticon-homework: "\f12f";
    $font-Flaticon-jacket: "\f130";
    $font-Flaticon-language: "\f131";
    $font-Flaticon-learning: "\f132";
    $font-Flaticon-learning-1: "\f133";
    $font-Flaticon-literature: "\f134";
    $font-Flaticon-lockers: "\f135";
    $font-Flaticon-loudspeaker: "\f136";
    $font-Flaticon-marker: "\f137";
    $font-Flaticon-milk: "\f138";
    $font-Flaticon-mortarboard: "\f139";
    $font-Flaticon-newspaper: "\f13a";
    $font-Flaticon-notebook: "\f13b";
    $font-Flaticon-notebook-1: "\f13c";
    $font-Flaticon-orientation: "\f13d";
    $font-Flaticon-owl: "\f13e";
    $font-Flaticon-padlock: "\f13f";
    $font-Flaticon-paper-plane: "\f140";
    $font-Flaticon-pen: "\f141";
    $font-Flaticon-pen-1: "\f142";
    $font-Flaticon-pencil: "\f143";
    $font-Flaticon-pencil-1: "\f144";
    $font-Flaticon-pencil-2: "\f145";
    $font-Flaticon-pencil-3: "\f146";
    $font-Flaticon-pencil-case: "\f147";
    $font-Flaticon-pencils: "\f148";
    $font-Flaticon-physics: "\f149";
    $font-Flaticon-pom-pom: "\f14a";
    $font-Flaticon-protractor: "\f14b";
    $font-Flaticon-scarf: "\f14c";
    $font-Flaticon-scarf-1: "\f14d";
    $font-Flaticon-scarfs: "\f14e";
    $font-Flaticon-schedule: "\f14f";
    $font-Flaticon-school-bus: "\f150";
    $font-Flaticon-science: "\f151";
    $font-Flaticon-scissors: "\f152";
    $font-Flaticon-screen: "\f153";
    $font-Flaticon-set-square: "\f154";
    $font-Flaticon-sharpener: "\f155";
    $font-Flaticon-sheet-music: "\f156";
    $font-Flaticon-stapler: "\f157";
    $font-Flaticon-studies: "\f158";
    $font-Flaticon-swimming-pool: "\f159";
    $font-Flaticon-teacher-desk: "\f15a";
    $font-Flaticon-test: "\f15b";
    $font-Flaticon-theater: "\f15c";
    $font-Flaticon-trophy: "\f15d";
    $font-Flaticon-uniform: "\f15e";
    $font-Flaticon-violin: "\f15f";
    $font-Flaticon-watercolor: "\f160";
    $font-Flaticon-writing: "\f161";
    $font-Flaticon-yearbook: "\f162";
    $font-Flaticon-yearbook-1: "\f163";